
/* display */

.wrap{overflow:auto}
.floatLeft{float:left}
.floatCenter{margin:0 auto}
.floatRight{float:right}
.clear{clear:both;display:block;} /* height:0;overflow:hidden <-- breaks IE */
.hidden{display:none!important}
.block{display:block}
.inlineBlock{display:inline-block}
.pr{position:relative;}
/* text */

.n{font-weight:normal!important}
.i{font-style:italic!important}
.b{font-weight:bold!important}
.u{text-decoration:underline!important}
.tal{text-align:left!important}
.tac{text-align:center!important}
.tar{text-align:right!important}
.taj{text-align:justify!important}
.break{word-wrap:break-word!important}
.vat{vertical-align:top;}
.capitalize {text-transform: capitalize;}
/* separators */

.hrSmall,.hrLarge{border-bottom:solid 1px #ccc;display:block;overflow:hidden}
.hrSmall{height:10px;margin-bottom:10px}
.hrLarge{height:20px;margin-bottom:20px}
.hrDashed{border-bottom-style:dashed!important}
.pipe{color:#999!important;font-weight:normal!important;margin:0 7px!important}

/* background colors */

.bg000{background:#000!important}
.bg111{background:#111!important}
.bg333{background:#333!important}
.bg666{background:#666!important}
.bg999{background:#999!important}
.bgCCC{background:#ccc!important}
.bgFFF{background:#fff!important}

/* colors */

.c000{color:#000!important}
.c333{color:#333!important}
.c666{color:#666!important}
.c777{color:#777!important}
.c888{color:#888!important}
.c999{color:#999!important}
.cAAA{color:#aaa!important}
.cBBB{color:#bbb!important}
.cCCC{color:#ccc!important}
.cFFF{color:#fff!important}

/* font family */

.georgia{font-family:georgia,serif!important}

/* font size */

.fs10{font-size:10px!important}
.fs11{font-size:11px!important}
.fs12{font-size:12px!important}
.fs13{font-size:13px!important}
.fs14{font-size:14px!important}
.fs16{font-size:16px!important}
.fs18{font-size:18px!important}
.fs20{font-size:20px!important}
.fs22{font-size:22px!important}
.fs24{font-size:24px!important}
.fs28{font-size:28px!important}
.fs32{font-size:32px!important}
.fs36{font-size:36px!important}
.fs40{font-size:40px!important}
.fs44{font-size:44px!important}
.fs50{font-size:50px!important}

/* line height */

.lh13{line-height:1.3}
.lh15{line-height:1.5}

/* border radius */

.br2{border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}
.br3{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.br4{border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px}
.br6{border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px}

/* border top radius */

.brt2{border-top-left-radius:2px;border-top-right-radius:2px;-moz-border-radius-topleft:2px;-moz-border-radius-topright:2px;-webkit-border-top-left-radius:2px;-webkit-border-top-right-radius:2px}
.brt4{border-top-left-radius:4px;border-top-right-radius:4px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px}

/* border bottom radius */

.brb2{border-bottom-left-radius:2px;border-bottom-right-radius:2px;-moz-border-radius-bottomleft:2px;-moz-border-radius-bottomright:2px;-webkit-border-bottom-left-radius:2px;-webkit-border-bottom-right-radius:2px}
.brb4{border-bottom-left-radius:4px;border-bottom-right-radius:4px;-moz-border-radius-bottomleft:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px}

/* border left radius */

.brl2{border-top-left-radius:2px;border-bottom-left-radius:2px;-moz-border-radius-topleft:2px;-moz-border-radius-bottomleft:2px;-webkit-border-top-left-radius:2px;-webkit-border-bottom-left-radius:2px}
.brl10{border-top-left-radius:10px;border-bottom-left-radius:10px;-moz-border-radius-topleft:10px;-moz-border-radius-bottomleft:10px;-webkit-border-top-left-radius:10px;-webkit-border-bottom-left-radius:10px}

/* border right radius */

.brr2{border-top-right-radius:2px;border-bottom-right-radius:2px;-moz-border-radius-topright:2px;-moz-border-radius-bottomright:2px;-webkit-border-top-right-radius:2px;-webkit-border-bottom-right-radius:2px}

/* margin top */

.mt1{margin-top:1px!important}
.mt2{margin-top:2px!important}
.mt3{margin-top:3px!important}
.mt4{margin-top:4px!important}
.mt5{margin-top:5px!important}
.mt6{margin-top:6px!important}
.mt7{margin-top:7px!important}
.mt8{margin-top:8px!important}
.mt9{margin-top:9px!important}
.mt10{margin-top:10px!important}
.mt11{margin-top:11px!important}
.mt12{margin-top:12px!important}
.mt13{margin-top:13px!important}
.mt14{margin-top:14px!important}
.mt15{margin-top:15px!important}
.mt16{margin-top:16px!important}
.mt17{margin-top:17px!important}
.mt18{margin-top:18px!important}
.mt19{margin-top:19px!important}
.mt20{margin-top:20px!important}
.mt30{margin-top:30px!important}
.mt60{margin-top:60px!important}

/* margin right */

.mr1{margin-right:1px!important}
.mr2{margin-right:2px!important}
.mr3{margin-right:3px!important}
.mr4{margin-right:4px!important}
.mr5{margin-right:5px!important}
.mr6{margin-right:6px!important}
.mr7{margin-right:7px!important}
.mr8{margin-right:8px!important}
.mr9{margin-right:9px!important}
.mr10{margin-right:10px!important}
.mr15{margin-right:15px!important}
.mr20{margin-right:20px!important}
.mr25{margin-right:25px!important}
.mr30{margin-right:30px!important}
.mr40{margin-right:40px!important}
.mr50{margin-right:50px!important}
.mr60{margin-right:60px!important}

/* margin bottom */

.mb1{margin-bottom:1px!important}
.mb2{margin-bottom:2px!important}
.mb3{margin-bottom:3px!important}
.mb4{margin-bottom:4px!important}
.mb5{margin-bottom:5px!important}
.mb6{margin-bottom:6px!important}
.mb7{margin-bottom:7px!important}
.mb8{margin-bottom:8px!important}
.mb9{margin-bottom:9px!important}
.mb10{margin-bottom:10px!important}
.mb15{margin-bottom:15px!important}
.mb16{margin-bottom:16px!important}
.mb20{margin-bottom:20px!important}
.mb25{margin-bottom:25px!important}
.mb30{margin-bottom:30px!important}
.mb35{margin-bottom:35px!important}
.mb40{margin-bottom:40px!important}
.mb45{margin-bottom:45px!important}
.mb50{margin-bottom:50px!important}
.mb60{margin-bottom:60px!important}

/* margin left */

.ml1{margin-left:1px!important}
.ml2{margin-left:2px!important}
.ml3{margin-left:3px!important}
.ml4{margin-left:4px!important}
.ml5{margin-left:5px!important}
.ml6{margin-left:6px!important}
.ml7{margin-left:7px!important}
.ml8{margin-left:8px!important}
.ml9{margin-left:9px!important}
.ml10{margin-left:10px!important}
.ml11{margin-left:11px!important}
.ml12{margin-left:12px!important}
.ml13{margin-left:13px!important}
.ml14{margin-left:14px!important}
.ml15{margin-left:15px!important}
.ml16{margin-left:16px!important}
.ml17{margin-left:17px!important}
.ml18{margin-left:18px!important}
.ml19{margin-left:19px!important}
.ml20{margin-left:20px!important}
.ml30{margin-left:30px!important}

/* padding */

.p3{padding:3px!important}
.p5{padding:5px!important}
.p10{padding:10px!important}
.p11{padding:11px!important}
.p15{padding:15px!important}
.p20{padding:20px!important}
.p30{padding:30px!important}
.p50{padding:50px!important}

/* padding top */

.pt0{padding-top:0!important}
.pt5{padding-top:5px!important}
.pt10{padding-top:10px!important}
.pt15{padding-top:15px!important}
.pt20{padding-top:20px!important}
.pt30{padding-top:30px!important}
.pt40{padding-top:40px!important}
.pt50{padding-top:50px!important}

/* padding right */
.pr5{padding-right:5px!important}
.pr10{padding-right:10px!important}
.pr20{padding-right:20px!important}
.pr25{padding-right:25px!important}
.pr30{padding-right:30px!important}
.pr40{padding-right:40px!important}

/* padding bottom */

.pb5{padding-bottom:5px!important}
.pb10{padding-bottom:10px!important}
.pb15{padding-bottom:15px!important}
.pb20{padding-bottom:20px!important}
.pb30{padding-bottom:30px!important}
.pb40{padding-bottom:40px!important}

/* padding left */
.pl5{padding-left:5px!important}
.pl10{padding-left:10px!important}
.pl20{padding-left:20px!important}
.pl25{padding-left:25px!important}
.pl30{padding-left:30px!important}
.pl40{padding-left:40px!important}

/* grid width */

.w192{width:192px!important}
.w394{width:394px!important}
.w596{width:596px!important}
.w798{width:798px!important}

/* general width */

.w36{width:36px!important}
.w50{width:50px!important}
.w100{width:100px!important}
.w150{width:150px!important}
.w200{width:200px!important}
.w250{width:250px!important}
.w300{width:300px!important}
.w320{width:320px!important}
.w332{width:332px!important}
.w344{width:344px!important}
.w400{width:400px!important}
.w500{width:500px!important}
.w600{width:600px!important}
.w696{width:696px!important}
.w708{width:708px!important}
.w700{width:700px!important}
.w800{width:800px!important}
.w100pc {width:100%!important;}
/* height */

.h20{height:20px!important}
.h30{height:30px!important}
.h50{height:50px!important}
.h75{height:75px!important}
.h100{height:100px!important}
.h200{height:200px!important}

/* min height */

.mh20{min-height:20px!important}
.mh30{min-height:30px!important}
.mh50{min-height:50px!important}
.mh75{min-height:75px!important}
.mh100{min-height:100px!important}
.mh200{min-height:200px!important}

/* developer */

.test{border:solid 1px #f00;color:#f00;font-weight:bold;padding:10px}

/* preloads */
div#preload { display: none; }

ul.vert-list{
    list-style-type: none;
}

ul.vert-list > li{
    display: block;
}

ul.horz-list{
    list-style-type: none;
}

ul.horz-list > li{
    display: inline-block;
}