﻿@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);

html,
body {
  min-height: 560px; 
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}

#body{
    min-width: 768px;
    width: 80%;            
    padding: 0 10px;
    margin: 0 auto;
    position:relative;
    background-color: #fff;
    opacity:0.9;
}

[ng-cloak], .ng-cloak{
    display:none;
}

#header{    
    position:relative;
    border-bottom: 1px solid #999;    
    text-align:center;
    height: 60px;
}

#menubars{
    position:absolute;
    left:0;
    top: 20px;
    /*display:none;*/
}

#menubars i{
    font-size:28px!important;
}

h1 {
    font: normal bold 2em/1.8em;
    text-align: left;    
    padding: 12px 0 15px 0;
    width: auto;
    margin: 0 0 0 0;
    display: inline-block;
}

h2 {
    font: italic bold 1.3em/1.2em;
    padding: 0;
    text-align: center;
    margin: 20px 0;
}

ul.vert-list{
    padding:0;
    margin:0;
    list-style-type: none;
}

ul.vert-list > li{
    list-style-position: outside;
    list-style-type:none;
    display:block;
}

p.pager {
    margin: 5px 0 5px;
    font-size:1.3em;
    font-weight:bold;
    color: #4099ff; /* #999 */
    text-align:left;
}

img.question-image {
    display: block;
    max-width: 250px;
    margin: 10px auto;
    border: 1px solid #ccc;
    width: 100%;
    height: auto;
}

#choice-block {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#submitbutton, #finishbutton, #nextbutton {
    background: #5a6b8c;
    font-weight: 700; 
    /*color: rgb(34, 34, 34);*/  
    color: #404C64;
    padding: 30px 0;
}

#submitbutton:hover, #finishbutton:hover, #nextbutton:hover {
    background: #7b8da6;
}

#submitbutton.canSubmit, #finishbutton, #nextbutton{
    color:#000;
}

#explanation {
    margin: 0 auto;
    padding: 20px;
    width: 75%;
}
.choice-box {
    display: block;
    text-align: center;
    margin: 8px auto;
    padding: 10px 0;
    border: 1px solid #666;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.study-box{
    cursor: default;
}
#countdown{
    position:absolute;
    top:15px;
    right:10px;
    font-size: 2em;
    color: red;
}

.choice:hover{
    background-color: #e1e1e1;
}
.selected, .selected:hover{
    border-color: #222;
    font-weight: 700;
    background-color: #c1c1c1;
}

.correct, .correct:hover{
    background-color: #50D943;
}

.incorrect, .incorrect:hover{
    background-color: #D92623;
}
#spacer{
    height:70px;
}
#percentage
{
    font-size: 50px;
    color:#000;
}
.alert-title{
    font-weight:bold;
    vertical-align:top;
    padding:0;
    margin:0;    
}
.alert span.explanation{
    width:100%;
}
.alert span.icon{
    width:90px;    
}
#mq-list{
    list-style-type: none;
    width:100%;
    padding:0;
    margin:0;
}
#mq-list li{
    list-style-type: none;
    display:block;
}

#user-entry{
    position:relative;
}

#user-entry input{
    width:100%;
}

#user-entry i{
    color: red;
    position:absolute;
    right: 10px;
    top:4px;
    font-size:28px;
}

.part-description{
    margin: 20px;   
}

/*#region menu page */
@-moz-keyframes shake {
  0% {transform: translateX(0);}
  12.5% {transform: translateX(-6px) rotateY(-5deg)}
  37.5% {transform: translateX(5px) rotateY(4deg)}
  62.5% {transform: translateX(-3px) rotateY(-2deg)}
  87.5% {transform: translateX(2px) rotateY(1deg)}
  100% {transform: translateX(0)}
}

@-webkit-keyframes shake {
  0% {-webkit-transform: translateX(0);}
  12.5% {-webkit-transform: translateX(-6px) rotateY(-5deg)}
  37.5% {-webkit-transform: translateX(5px) rotateY(4deg)}
  62.5% {-webkit-transform: translateX(-3px) rotateY(-2deg)}
  87.5% {-webkit-transform: translateX(2px) rotateY(1deg)}
  100% {-webkit-transform: translateX(0)}
}

@keyframes shake {
  0% {transform: translateX(0);}
  12.5% {transform: translateX(-6px) rotateY(-5deg)}
  37.5% {transform: translateX(5px) rotateY(4deg)}
  62.5% {transform: translateX(-3px) rotateY(-2deg)}
  87.5% {transform: translateX(2px) rotateY(1deg)}
  100% {transform: translateX(0)}
}

.shake {
    -moz-animation: shake 400ms ease-in-out;
    -o-animation: shake 400ms ease-in-out;
    -webkit-animation: shake 400ms ease-in-out;
    animation: shake 400ms ease-in-out;
}

.body-bg {
    background-image: url('../images/Graduation-Students2.jpg');
    background-repeat:no-repeat;
    background-position: top center;
    background-color:#000;
}

#blackout {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 10;  
    text-align: center;  
    /*background-image: url('../images/quiz.jpg');
    background-size:25%;
    background-repeat: no-repeat;
    background-position: center center;*/
}

#blackout i{
    font-size: 100px!important;
    color: #fff;
    margin-top: 20%;
}

#menu-list{    
    padding-top:10px;
}

#menu-list li{
    padding: 10px 20px;
}

#menu-list button{
    width:100%;
    height: 80px;
    font-size:26px;
    opacity: 0.5;
}
#menu-list button:hover{ 
    opacity: 1;
}

#menu-list button i{
    font-size:30px;
}
#power-icon{
    position:absolute;
    left:20px;
    font-size: 32px;
    width:40px;       
    height:40px;  
}
#power-icon i, #volume-icon i{    
    opacity: 0.5;
    cursor:pointer;
}
#power-icon i:hover, #volume-icon i:hover{    
    opacity: 1;
    cursor:pointer;
}
#volume-icon{
    position:absolute;
    right: 20px;
    font-size: 32px;
    width:32px;       
    height:40px;    
}
#volume-icon:hover{    
    opacity: 1;
    cursor:pointer;
}

#footer{
    background-image: url(../images/cartoon-rocket-logo.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 200px;    
    height: 60px;
    min-width: 768px;
    width: 100%;        
    margin: 20px auto;
    position:relative;        
}

.back-button{
    font-size:26px;    
    position:relative;
    left:20px;    
    cursor: pointer;
}

.back-button i.two{
    position:relative;
    left: -8px;
}

.exam-buttons i
{
    position:relative;
    top:3px;
}

.quiz-name{
    color:#286090;    
    padding-right:5px;
}
.part-name{
    color:#c9302c;    
    padding-left:5px;
}

/*#endregion */

/*#region objectives */
#objectives{
    margin: 30px auto;
}
#objectives .qtooltip{
    color: #0099cc;
    border-bottom: 2px solid #fff;
    text-decoration:none;
}
#objectives .qtooltip:hover{
    border-bottom: 2px solid red;
    text-decoration:none;
    cursor:pointer;
}

.objective{
    padding-bottom: 15px;
}
.objective-name{
    font-size: 18px;        
    font-weight: bold;
}
.objective-body{
    font-size: 16px;     
    font-weight: normal;   
}

/*#endregion */

/*#region study */
#study-wait{
    height: 50px;
    width:!00%;
    text-align: center;
    font-size: 30px;
    padding-top:20px;
}
#countup{
    color: #25871C;
    font-size: 1.2em;
    font-weight:bold;
    position:absolute;
    top:3px;
    right:0;
}

/*#endregion */

/* desktop styles */
@media only screen and (max-width: 775px){

    #body {       
        min-width: 340px;
        width: 90%;    
    }

    #footer{       
       min-width: 340px;
       width: 90%;       
    }

}

/* mobile styles */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    
    #body {       
        width:768px;
        margin: auto;
        border: none;
        padding: 0 10px;
    }

    #countup{          
        top:3px;
        right:0;  
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    
    #body {       
        margin: auto;
        border: none;
    }

    #countup{          
        top:3px;
        right:0;  
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation:portrait) {
    #body {       
        width:320px;
        margin: auto;
        border: none;
        padding: 0 10px;
    }
    #menu-list button{       
        font-size:20px;        
    }
    #menu-list button i{
        font-size:24px;
    }
    h1{
        font-size:26px;
    }

    h2.question{
        font-size: 1.3em;     
    }
    #countdown{        
        font-size: 1em;       
        
    }
    #countup{
         font-size: 1em;   
         top:23px;
        left:0;  
    }

    #footer{
       background-size: 120px;
       width: 260px;
    }

    .exam-buttons
    {
       
    }

    .exam-buttons i
    {
        font-size: 0.5em;       
    }

    .exam-buttons span.quiz-name, .exam-buttons span.part-name{
        font-size: 0.7em;             
        position:relative;
        left: -5px;
        top:0;
    }

    .exam-buttons span.part-chevron{
        position:relative;
        left: -5px;
        top:0;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation:landscape) {
    #body {
        width:568px;
        margin: auto;
        border: none;
        padding: 0 10px;
    }
    #countdown{        
        font-size: 1em;        
    }
    #footer{
       background-size: 120px;
       width: 508px;
    }

    .exam-buttons
    {
       
    }

    .exam-buttons i
    {
        font-size: 0.7em;       
    }

    .exam-buttons span.quiz-name, .exam-buttons span.part-name{
        font-size: 0.9em;             
        position:relative;
        left: -5px;
        top:0;
    }

    .exam-buttons span.part-chevron{
        position:relative;
        left: -5px;
        top:0;
    }

}