﻿<!DOCTYPE html>
<html ng-app="app" ng-controller="MainCtrl as main">
<head>
    <title ng-bind="main.title">Quiz</title>

    <!--<base href="/" />-->
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="pragma" content="no-cache">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/font-awesome.min.css" rel="stylesheet" />
    <link href="Content/helpers.css" rel="stylesheet" />
    <link href="Content/quiz.css" rel="stylesheet" />
    <link href="Content/toastr.min.css" rel="stylesheet" />
    <script src="Scripts/jquery-2.1.4.min.js"></script>
    <script src="Scripts/modernizr-2.8.3.js"></script>

</head>
<body ng-class="{ 'body-bg': main.showBgImage }">

    <div id="blackout" ng-if="main.splash" ng-click="main.closeSplash()">
        <i class="fa fa-spinner fa-spin fs32"></i>
    </div>

    <div id="body">

        <div id="header">

            <a ng-cloak class="ng-cloak" id="menubars" href="javascript:void(0);"
               ng-click="main.gotomenu()" ng-if="main.showCountdown" title="back to menu">
                <i class="fa fa-bars"></i>
            </a>

            <h1 ng-cloak class="ng-cloak">{{main.title}}</h1>
            <div ng-cloak class="ng-cloak" id="countdown" ng-show="main.quizstarted">{{main.secondsleft}}</div>

        </div>

        <div ui-view></div>

    </div>

    <audio id="buttonclick" src="sounds/click.wav" preload="auto"></audio>
    <audio id="tada" src="sounds/ding.wav" preload="auto"></audio>
    <audio id="bgaudio" src="sounds/splash.mp3" loop preload="auto"></audio>

    <!-- scripts start -->
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/underscore-1.8.3-min.js"></script>
    <script src="Scripts/toastr.min.js"></script>
    <script src="Scripts/moment.min.js"></script>
    <script src="Scripts/moment-duration-format.js"></script>
    <script src="Scripts/jquery.countdown.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-touch.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="Scripts/angular-ui-router.min.js"></script>
    <script src="Scripts/angular-storage.min.js"></script>

    <script src="app/js/app.js"></script>
    <script src="app/js/config.js"></script>
    <script src="app/js/services/QuizService.js"></script>
    <script src="app/js/services/AudioService.js"></script>
    <script src="app/js/services/FileService.js"></script>
    <script src="app/js/filters/filters.js"></script>

    <script src="app/js/controllers/MainController.js"></script>
    <script src="app/js/controllers/MenuController.js"></script>
    <script src="app/js/controllers/QuizController.js"></script>
    <script src="app/js/controllers/ObjectivesController.js"></script>
    <script src="app/js/controllers/StudyController.js"></script>
    <script src="app/js/controllers/ResultsController.js"></script>
    <script src="app/js/controllers/EditorController.js"></script>
    <script src="app/js/controllers/ErrorController.js"></script>
    <script src="app/js/directives/directives.js"></script>

</body>
</html>
