﻿<div id="editor" class="mt20">

    <fieldset>
        <legend>Quiz Config Files</legend>

        <ul>
            <li ng-repeat="fo in editor.fileobjs">
                {{ fo }}
            </li>
        </ul>

        <div ng-if="editor.loading">
            loading quiz config files....<i class="fa fa-gear fa-spin"></i>
        </div>

        <ul class="vert-list">
            <li ng-repeat="file in editor.files track by $index">
                <a href="#" ng-click="editor.edit($index)">{{editor.files[$index] | unescape}}</a>                
            </li>
        </ul>

    </fieldset>

    <fieldset ng-if="editor.editing" class="mt20">
        <legend>Edit Config File: {{ editor.filename | unescape}}</legend>

        <strong>Editing {{ editor.fileedit.id }}</strong>

        <ul class="vert-list" style="width:600px; margin:auto;">
            <li>
                <label>Name:</label>
                <input ng-model="editor.fileedit.name" class="form-control" />
            </li>
            <li>
                <label>Parts Text:</label>
                <textarea ng-model="editor.fileedit.partstext" class="form-control h100" />
            </li>
            <li>
                <ul class="vert-list">
                    <li ng-repeat="part in editor.fileedit.parts">
                        
                        <ul class="vert-list">
                            <li>
                                <label>
                                    {{ part.id }}
                                </label>
                            </li>
                            <li>
                                <label>Title:</label>
                                <input ng-model="part.title" class="form-control" />
                            </li>                            
                        </ul>                        

                        <ul class="vert-list">
                            <li ng-repeat="objective in part.objectives">
                                <ul class="vert-list">                                    
                                    <li>
                                        <label>Title:</label>
                                        <input ng-model="objective.title" class="form-control" />
                                    </li>
                                    <li>
                                        <label>Content File:</label>
                                        <input ng-model="objective.contentfile" class="form-control" />
                                    </li>
                                </ul>

                            </li>
                        </ul>

                        <ul class="vert-list">
                            <li ng-repeat="question in part.questions">
                                <ul class="vert-list">
                                    <li>
                                        <label>Title:</label>
                                        {{ question.question }}
                                    </li>                                    
                                </ul>

                            </li>
                        </ul>

                    </li>
                </ul>
            </li>
            <li class="tar pt20">
                <button type="button" ng-click="editor.save()" class="btn btn-primary w100">Save</button>
            </li>
        </ul>
        
        <textarea class="w100pc h200">
            {{ editor.fileedit.parts | json }}
        </textarea>
        

    </fieldset>

</div>
