﻿<div id="menu-container">

    <div ng-if="menu.viewIndex == 0">
        
        <div class="alert alert-danger mt20" ng-if="menu.quizlist.length === 0 && menu.loadingComplete">
            <i class="fa fa-warning fs32 pr10"></i>
            App was unable to find any exam files in data folder
        </div>

        <div ng-if="menu.loading" class="tac h100 pt50">
            <i class="fa fa-spinner fa-spin fs24"></i>
        </div>

        <ul id="menu-list" class="vert-list">
            <li ng-repeat="quiz in menu.quizlist | orderBy:'sortOrder'">
                <button ng-click="menu.selectQuiz(quiz)" class="btn btn-primary">
                    <i class="fa fa-graduation-cap"></i>
                    {{ quiz.name }}
                </button>
            </li>
        </ul>

    </div>
    <div ng-if="menu.viewIndex == 1">

        <span class="exam-buttons back-button" ng-click="menu.back(0)">

            <i class="fa fa-chevron-left"></i>
            <i class="fa fa-chevron-left two"></i>

            <span class="quiz-name">
                {{ menu.selectedQuiz.name }}
            </span>

        </span>

        <ul id="menu-list" class="vert-list">
            <li ng-repeat="part in menu.selectedQuiz.parts">
                <button ng-click="menu.selectQuizPart(part)" class="btn btn-danger" ng-mouseover="menu.shakeme = true" ng-mouseleave="menu.shakeme = false">
                    <i class="fa fa-flask"></i>
                    {{ part.title }}
                </button>
            </li>
        </ul>

        <div ng-if="menu.showpartsdesc" class="alert alert-info part-description" ng-class="{ 'alert alert-info part-description shake' : menu.shakeme, 'alert alert-info part-description' : !menu.shakeme }">
            <a href="#" class="close pl10" data-dismiss="alert" aria-label="close" ng-click="menu.showpartsdesc = false">&times;</a>
            {{ menu.selectedQuiz.partstext }}
        </div>

    </div>
    <div ng-if="menu.viewIndex == 2">

        <span class="exam-buttons back-button" ng-click="menu.back(1)">
            <i class="fa fa-chevron-left"></i>
            <i class="fa fa-chevron-left two"></i>

            <span>
                <span class="quiz-name">
                    {{ menu.selectedQuiz.name }}
                </span>
                <span class="part-chevron">
                    <i class="fa fa-chevron-left"></i>
                    <span class="part-name">
                        {{ menu.selectedQuizPart.title }}
                    </span>
                </span>
                
            </span>

        </span>

        <ul id="menu-list" class="vert-list">
            <li>
                <button ng-click="menu.gotoObjectives()" class="btn btn-primary buttonclick">
                    <i class="fa fa-graduation-cap"></i>
                    Exam Objectives
                </button>
            </li>
            <li>
                <button ng-click="menu.gotoStudy()" class="btn btn-warning buttonclick">
                    <i class="fa fa-question"></i>
                    Study Questions
                </button>
            </li>
            <li>
                <button ng-click="menu.startQuiz()" class="btn btn-danger buttonclick">
                    <i class="fa fa-flask"></i>
                    Practice Exam
                </button>
            </li>

        </ul>

    </div>

    <div id="footer">

        <div id="power-icon" class="ng-cloak" ng-cloak>
            <i class="fa fa-power-off" title="reload the app" ng-click="menu.reloadApp()" ng-if="!menu.reloading"></i>
            <i class="fa fa-gear fa-spin" title="reload the app" ng-if="menu.reloading"></i>
        </div>

        <div id="volume-icon" class="ng-cloak" ng-cloak>
            <i class="fa fa-volume-up" title="music is playing - click to pause" ng-if="menu.musicplaying" ng-click="menu.stopMusic()"></i>
            <i class="fa fa-volume-off" title="music is paused - click to play" ng-if="!menu.musicplaying" ng-click="menu.playMusic()"></i>
        </div>

        <audio id="bgaudio" src="sounds/splash.mp3" loop preload="auto"></audio>

    </div>

</div>
