﻿
<div id="objectives">   

    <div class="tac pt50" ng-if="obj.loading">
        <i class="fa fa-spinner fa-spin fs32"></i>
    </div>

    <div class="objective " ng-repeat="objective in obj.objectives">
        <div class="objective-name" ng-bind-html="objective.title"></div> 
        <hr />        
        <div class="objective-body">
            <span html-content="objective.content"></span>
        </div>
        
    </div> 

</div>



