﻿<div class="pb20">
    <p ng-if="quiz.quizStarted" ng-cloak class="ng-cloak pager" id="pager">Question {{ quiz.currentQuestion }} of {{quiz.questionCount }} </p>
    <h2 ng-if="quiz.quizStarted" class="question">Q1: {{quiz.question.question}}</h2>
    <img ng-if="quiz.question.image.length > 0" class="question-image" id="question-image"
         ng-src="{{quiz.question.image}}"
         ng-attr-title="quiz.question.question">

    <div id="spacer" ng-if="!quiz.answered && !quiz.correct && !quiz.incorrect">
        &nbsp;
    </div>
    <div class="alert alert-success" ng-if="quiz.answered && quiz.correct">
        <span class="inlineBlock vat icon">
            <i class="fa fa-check pr5 fs20"></i><span class="alert-title">Correct</span>
        </span>
        <span class="inlineBlock vat explanation">
            {{quiz.question.explanation}}
        </span>
    </div>
    <div class="alert alert-danger shake" ng-if="quiz.answered && quiz.incorrect">
        <span class="inlineBlock vat icon">
            <i class="fa fa-times pr5 fs20"></i>
            <span class="alert-title">Incorrect</span>
        </span>
        <span class="inlineBlock vat explanation">
            {{quiz.question.explanation}}
        </span>
    </div>

    <ul id="choice-block" ng-if="quiz.question.isMultiChoice">
        <li class="choice choice-box ng-cloak" ng-cloak
            ng-class="{'selected': quiz.selectedChoices[$index].selected, 'correct': quiz.selectedChoices[$index].correct, 'incorrect': quiz.selectedChoices[$index].incorrect}"
            ng-repeat="choice in quiz.question.choices track by $index"
            ng-click="quiz.selectChoice($index)">
            {{quiz.question.choices[$index]}}
        </li>
    </ul>

    <div id="user-entry" ng-if="!quiz.question.isMultiChoice && quiz.quizStarted">
        <input id="answer-box" aq-focus class="form-control" type="text" ng-minlength="1" ng-maxlength="1000" ng-required="true"
               ng-readonly="quiz.answered"
               placeholder="{{quiz.question.question}}" ng-model="quiz.userAnswer">
        <i class="fa fa-warning" ng-if="quiz.userAnswerInvalid"></i>
        <i class="fa fa-check" ng-if="quiz.correct"></i>
        <i class="fa fa-times" ng-if="quiz.incorrect"></i>

    </div>

    <div class="choice-box" id="submitbutton" ng-click="quiz.submitAnswer()" ng-if="!quiz.quizComplete && !quiz.nextQuestion && quiz.quizStarted"
         ng-class="{'canSubmit': quiz.canSubmit}">Check Answer</div>

    <div class="choice-box" id="nextbutton" ng-click="quiz.gotoNextQuestion()" ng-if="quiz.nextQuestion">
        NEXT QUESTION<i class="fa fa-chevron-right pl5"></i>
    </div>

    <div class="choice-box" id="finishbutton" ng-click="quiz.finishQuiz()" ng-if="quiz.quizComplete">
        SEE YOUR RESULTS
    </div>

</div>

