﻿<div>

    <div class="alert alert-info tac fs22 mt20 ng-cloak" ng-cloak>
        You got {{ results.service.Score }} out of {{ results.service.QuestionCount }} correct.
        <div id="percentage">
            {{ results.service.GetPercentage() }}%
        </div>

    </div>

    <div ng-if="results.service.MissedQuestions.length > 0">
        <h2>Missed Questions</h2>
        <ul id="mq-list" class="tal">
            <li ng-repeat="question in results.service.MissedQuestions" class="ng-cloak" ng-cloak>
                <h4 class="question">Q{{question.id}}:&nbsp;{{ question.question }}</h4>
                <img ng-if="question.image.length > 0" class="question-image"
                     ng-src="{{question.image}}"
                     ng-attr-title="question.question">

                <div class="alert alert-success tac" ng-repeat="choice in question.correct track by $index">
                    {{question.correct[$index]}}
                </div>

                <div class="alert alert-info">
                    {{ question.explanation }}
                </div>

            </li>
        </ul>
        
    </div>

    <div class="mt20 mb20 tac">
        <button class="btn btn-primary" ng-click="results.gotoMenu()">Finish</button>
    </div>
    
</div>

