﻿<div id="study-questions" class="pb20 pr">
    <div id="study-wait" ng-show="study.loading">
        <i class="fa fa-spin fa-spinner"></i>
    </div>
    <div ng-show="!study.loading">

        <p ng-if="study.quizStarted" ng-cloak class="ng-cloak pager" id="pager">Question {{ study.currentQuestion }} of {{study.questionCount }} </p>
        <h2 ng-if="study.quizStarted" class="question">Q{{ study.currentQuestion }}: {{study.question.question}}</h2>
        <div id="countup" ng-show="study.countup" style="display:none;">
            <i class="fa fa-clock-o pr5"></i>
            You've been studying for {{ study.countupText }}
        </div>

        <img ng-if="study.question.image.length > 0" class="question-image" id="question-image"
             ng-src="{{study.question.image}}"
             ng-attr-title="study.question.question">

        <div id="spacer">
            &nbsp;
        </div>

        <ul id="choice-block" ng-if="study.question.isMultiChoice">
            <li class="choice-box study-box ng-cloak" ng-cloak
                ng-class="{'selected': study.selectedChoices[$index].selected, 'correct': study.selectedChoices[$index].correct, 'incorrect': study.selectedChoices[$index].incorrect}"
                ng-repeat="choice in study.question.choices track by $index"
                ng-click="study.selectChoice($index)">
                {{study.question.choices[$index]}}
            </li>
        </ul>

        <div id="user-entry" ng-if="!study.question.isMultiChoice && study.quizStarted">
            <input id="answer-box" class="form-control" type="text"
                   ng-readonly="true" ng-model="study.question.correct">
            <i class="fa fa-check"></i>
        </div>

        <div class="choice-box mt20" id="nextbutton" ng-click="study.gotoNextQuestion()" ng-if="study.currentQuestion < study.questionCount">
            NEXT QUESTION<i class="fa fa-chevron-right pl5"></i>
        </div>
        <div class="choice-box mt20" id="finishbutton" ng-click="study.finishStudy()" ng-if="study.currentQuestion == study.questionCount">
            QUIZ COMPLETED<i class="fa fa-check pl5"></i>
        </div>

    </div>

    

</div>

